@import 'config';

html {
  overflow: visible;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url(@/assets/images/common/main.jpg);
  background-size: cover;
  background-position: left top;
  letter-spacing: 0.16rem;
  line-height: 2.6;
  min-height: 100vh;
  font-family: $noto;
  font-weight: 300;
  overflow-x: hidden;
  color: $text-color;
  font-size: $font-size;
  animation: fadeIn 3s ease 0s 1 normal;
  padding: 0 40px;
  @include mintab {
    background-attachment: fixed;
  }
  @include sp {
    padding: 0 20px;
    font-size: $font-size-sp;
  }
}

main {
  display: flex;
  flex: 1;
  flex-flow: column;
}

a {
  text-decoration: none;
  transition: all 0.6s;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
    color: $main-color;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  letter-spacing: 0.4rem;
}

h1 {
  font-size: 4rem;
  font-family: $quick;
  text-align: center;
  padding: 40px 0;
  font-weight: 300;
  @include sp {
    padding: 24px 0 16px;
    font-size: 2.8rem;
  }
}

.contents {
  @include inner;
  @include box-shadow;
  background: rgba($base-color, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 100px;
  margin-bottom: 100px;
  @include base {
    padding: 80px;
  }
  @include pctab {
    padding: 60px;
    margin-bottom: 80px;
  }
  @include sp {
    padding: 20px;
    margin-bottom: 60px;
  }
}

.title {
  &-1 {
    font-family: $quick;
    color: $main-color;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 8px;
    @include sp {
      margin-bottom: 0;
    }
  }
}

._en {
  font-family: $quick;
  font-weight: 400;
}

.sec {
  &-1 {
    margin-bottom: 40px;
  }
}
